.profile-view {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-wrapper {
  height: 70%;
  width: 60%;
  display: flex;
  justify-content: center;
}

.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.profile-top,
.profile-mid,
.profile-buttons {
  height: 33%;
  width: 100%;
}

.profile-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.profile-mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.profile-input {
  margin: 15px;
}

.profile-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 952px) {
  .profile-wrapper {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 604px) {
  .profile-wrapper {
    height: 100vh;
    overflow: scroll;
    width: 90%;
    display: flex;
    justify-content: center;
  }

  .profile-pic {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    margin-top: 50%;
  }

  .profile-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 5%;
  }
}
