.about-top-row {
  display: flex;
  flex-direction: row;
}
.about-second-row {
  display: flex;
  flex-direction: row;
}

.about-third-row {
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 5% 0 5%;
  h2 {
    text-align: center;
  }
}
