h1 {
  font-family: $primary-font;
}

.about-container {
  margin: 0 6%;
}
.about-top-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3%;
}

.about-left-col {
  width: 30%;
}

.about-description {
  font-size: 2rem;
}

.about-right-col {
  margin-top: 2%;
}

.about-second-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  a:link {
    text-decoration: none;
  }
}

.follow-row {
  display: flex;
  flex-direction: row;
  img {
    width: 18px;
    height: 18px;
  }
}

.follow-us {
  font-weight: bold;
  background-color: rgb(22, 22, 22);
  color: white;
  width: 15%;
}

.follow-us-2 {
  background-color: #000;
  color: white;
  width: 85%;
}

.contact-container {
  p {
    font-size: 2rem;
  }
}

.contact-col {
  width: 50vw;
}

.headquarters-col {
  width: 5vw;
}

.about-map {
}

.map-title {
  font-weight: 700;
}

.about-third-row {
  img {
    border-radius: 2%;
  }
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h2 {
    text-align: center;
    margin-bottom: 15%;
  }
}

@media (max-width: 1216px) {
  .map-video {
    height: 100px;
    width: 200px;
  }
}

@media (max-width: 910px) {
  .about-left-col {
    width: 100vw;
  }
  .about-description p {
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width: 570px) {
  .map-photo {
    width: 100%;
  }
}
