//TimerComponent
.timer-container {
  margin-left: auto;
  margin-right: auto;
  // width: max-content;
  text-align: center;
}

//TimerConfig
.text-primary {
  color: #39b0e6;
  text-align: left;
  margin: 0 0 1px 10px;
}

.time-row {
  display: flex;
  justify-content: space-between;
  margin: 8px 30px;
}

//TimerDisplay
.text-center {
  font-size: $font-size-large;
  margin-bottom: 1px;
}

// TimerButton
.buttonDefaults {
  border-radius: 500px;
  height: 60px;
  width: 60px;
}

.startButton {
  background: #39b0e6;
  color: #fff;
}

.stopButton {
  background: #d75452;
}

.resetButton {
  background: #39b0e6;
  color: #fff;
}
