.appbar-row {
  display: flex;
  flex-direction: row;
}

.SideNavLogo {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 30px;
}

.SideNavLogoText {
  margin-top: 10px;
  font-size: 30px;
  font-style: italic;
  color: #353535;
  font-family: $primary-font;
}

.SideNavLinks a {
  text-decoration: none;
}
