.badges-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 66vh;
  width: 20vw;
  // overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 2px 0;

  h1 {
    color: $dark-grey;
  }
}
