.badges-container {
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 20vw;
  // overflow-y: scroll;
  // overflow-x: hidden;
  margin-top: 2px;
  margin-bottom: 2%;

  h1 {
    color: $dark-grey;
  }
}

@media (max-width: 1024px) {
  .badges-container {
    font-size: 0.75em;
    width: 40vw;
  }
}

@media (max-width: 457px) {
  .badges-container {
    font-size: 0.75em;
    width: 90vw;
  }
}
