.profile-dash-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-dash-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.profile-dash-pic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.profile-dash-name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: bold;
  margin: 0 auto;
}

.profile-dash-following {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -2%;
}

.pipe {
  color: #ccd0d1;
  font-size: 1.2em;
}

.add-goal-text {
  color: $teal;
  font-weight: bold;
}

.profile-dash-text {
  display: flex;
}

@media (max-width: 1025px) {
  p {
    font-size: 0.4em;
  }
  .pipe {
    font-size: 0.6em;
  }
}
