.friends-wrapper {
  background: white;
}

.friends-header {
  text-align: center;
  color: $dark-grey;
}

@media (max-width: 1025px) {
  .friends-wrapper {
    height: auto;
    width: 90vw;
  }
}

// @media (min-width: 460px) {
//   .friends-wrapper {
//     height: auto;
//     width: 90vw;
//     margin-left: 0;
//   }
// }
