header {
  display: flex;
  height: 57px;
  line-height: 57px;
  background: #1a7de1;
  font-size: $l-size;
  color: $off-white;
}

.dash-nav {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.dashboard-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1% 5%;
  margin-top: 3%;
  // margin-left: 5%;
  // margin-right: 5%;
}

.response-dash {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2%;
}

@media (max-width: 1024px) {
  .dashboard-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 457px) {
  .response-dash {
    flex-direction: column;
  }
}
