header {
  display: flex;
  height: 57px;
  line-height: 57px;
  background: #1a7de1;
  font-size: $l-size;
  color: $off-white;
}

.dash-nav {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.dashboard-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1% 0;
  background-color: $off-white;
}
