header {
  display: flex;
  height: 57px;
  line-height: 57px;
  background: #1a7de1;
  font-size: $l-size;
  color: $off-white;
}

.dash-nav {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.dashboard-container {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
}

.dashboard-rows {
  display: flex;
  flex-direction: column;
}

.dashboard-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 0 2% 0;
  padding: 0 2% 0 0;

  button {
    border-radius: 500px;
  }
}

.dashboard-today {
  font-weight: 700;
  font-size: 24px;
}

.dashboard-date {
  font-size: 20px;
}

.dashboard-cols {
  // display: flex;
  // flex-direction: row;
}

.dashboard-col-1 {
  display: flex;
  flex-direction: column;
}

// .dashboard-container {
//   width: 100%;
//   height: auto;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   padding: 1% 5%;
//   margin-top: 3%;
// }

// .response-dash {
//   width: 90vw;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   margin-bottom: 2%;
// }

// @media (max-width: 1024px) {
//   .dashboard-container {
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//   }
// }

// @media (max-width: 457px) {
//   .response-dash {
//     flex-direction: column;
//   }
// }

@media (min-width: 1024px) {
  .dashboard-cols {
    display: flex;
    flex-direction: row;
  }
}
