.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 10%;
  a:link {
    color: #606065;
    text-decoration: none;
  }
  a:visited {
    color: #606065;
  }
}

.footer-logo {
  color: #99999e;
}

.copyright {
  margin-top: -20px;
}

.footer-title {
  font-weight: 700;
  color: #606064;
}

// @media (max-width: 600px) {
//   .footer-container {
//     display: none;
//   }
// }

.grid-footer {
  display: grid;
  margin: 0 8%;
  grid-gap: 3px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 50px);
  a:link {
    color: #606065;
    text-decoration: none;
  }
  a:visited {
    color: #606065;
  }
}

@media (max-width: 374px) {
  .grid-footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
