* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $off-white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.4;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
