// COLORS
$off-white: #f7f7ff;
$grey: #dddbf1;
$teal: #3b8ea5;
$blue: #2d728f;
$dark-grey: #383f51;

//FONT SIZE
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//SPACING
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//FONT
$primary-font: "Open Sans", sans-serif;
