.profile-view {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.profile-wrapper {
  height: 70%;
  width: 60%;
  display: flex;
  justify-content: center; }

.profile-pic {
  border-radius: 50%;
  height: 175px;
  width: 175px; }

.profile-top,
.profile-mid,
.profile-buttons {
  height: 33%;
  width: 100%; }

.profile-top {
  display: flex;
  justify-content: center;
  align-items: center; }

.profile-mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end; }

.profile-buttons {
  display: flex;
  justify-content: center;
  align-items: center; }

@media all and (max-width: 952px) {
  .profile-wrapper {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; } }

.profile-input {
  margin: 15px; }
