.all-pies {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  flex-wrap: wrap;
  border-width: 1px;
  border-color: black;
  height: 80vh;
  min-height: 70vh;
  width: 60vw;
  overflow-y: scroll;
  overflow-x: hidden; }

.pie {
  margin: 2% 2%;
  display: flex; }

.fix {
  display: fixed; }
