.goals-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: 50vw;
  overflow-x: hidden; }

.goals-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40%; }

.goals-header-img {
  width: 90%;
  margin-bottom: 2%; }

.all-pies {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  width: 100%; }
  .all-pies h3 {
    text-align: left;
    margin-top: 3%;
    padding-left: 2%; }
  .all-pies p {
    text-align: right;
    margin-bottom: 3%;
    padding-right: 2%; }

.pie {
  height: auto;
  width: 90%;
  margin: 2% 0; }

.goal {
  position: absolute;
  bottom: 5%;
  right: 27%;
  z-index: 500; }

@media (max-width: 1024px) {
  .goals-container {
    width: 90vw; } }
