.all-pies {
  display: flex;
  justify-content: space-around;
  flex-direction: column; }

.pie-steps {
  display: flex;
  justify-content: center;
  background-color: lavender;
  align-items: center;
  flex-wrap: wrap;
  height: 50%;
  overflow: auto; }

.distance {
  display: flex;
  justify-content: center;
  background-color: pink;
  align-items: center;
  flex-wrap: wrap;
  height: 50%;
  overflow: auto; }
