body {
  box-sizing: border-box;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", "Helvetica Neueu", Helvetica, Arial, sans-serif;
  background-color: #efeff5;
  padding: 0;
  margin-left: auto;
  margin-right: auto; }

.stopwatch-wrapper {
  text-align: center;
  margin-bottom: 10%; }

.stopwatch-header {
  font-size: 76px;
  font-weight: 100;
  line-height: 160px;
  font-weight: bold;
  margin: 0;
  border: solid #cecfd0;
  border-width: 1px 0;
  background-color: white; }

.stopwatch-laps {
  padding: 0 0 0 20px;
  list-style-type: none; }

.stopwatch-lap {
  font-size: 20px;
  line-height: 60px;
  padding-right: 20px;
  text-align: right;
  border-bottom: 1px solid #d9dae0; }

.stopwatch-lap strong {
  float: left;
  color: #7f8083;
  font-weight: 100; }

.stopwatch-lap strong::before {
  content: "Lap "; }

.stopwatch-wrapper button {
  margin: 12px; }
