* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #f7f7ff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.is-active {
  font-weight: bold; }

.nav {
  color: red; }
