.all-pies {
  display: flex;
  justify-content: space-around;
}
.pie-steps {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.pie {
  margin: 10vh 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-small;
}
